* {
    background-color: rgba(17, 17, 17, 255);
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: lightslategray;
}

.logo {
    width: 220px;
    border-radius: 35%;
    background-color: lightslategray;
}

.menudenav {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.menudenav li {
    margin-right: 40px;
}

.barradebusq {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.listadoart {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.listadoalb {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.listadocan {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.listadogen {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.imgenero {
    display: flex;
    margin: 0px 40px 0px 40px;
}

.namegen{
    
}