* {
    
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    
}

body{
    color: white;
    background-color: black;
}

a {
    color: white;
}

header {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2F2F2F;
    box-shadow: -2px -2px 5px gray, 2px 2px 5px gray;
}

.logo {
    width: 220px;
    border-radius: 35%;
}

.menudenav {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    

}

.menudenav li a  {
    margin-right: 40px;
    font-size: 25px;
    


}

.menudenav li :hover {
    text-decoration: underline;
}


.barradebusq {
    display: flex;
    justify-content: center;
    border-radius: 20%;
}
.listadoart, .listadogen, .listadocan, .listadoalb {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.resultadosdebusqueda, .artistasgenero {
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
  }

  .resultsbusqueda, .artistasgen{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }




.imgcan, .imgalb, .imgart, .imgenero, .imgbusqueda {
display: flex;
margin: 0px 40px 0px 40px;
width: 100%;
max-width: 200px;
border-radius: 10px;
}


.pcan, .palb, .part, .pgen, .pbusqueda {
display: flex;
margin: 15px 40px 15px 40px;
text-decoration: overline;
margin-top: 10px;
font-size: 14px;
font-weight: bold;
max-width: 40%;
}

footer {
text-align: center;
padding: 20px;
background-color: #424242;
color: #ffffff;
  }


.listadoart a,
.listadoalb a,
.listadocan a,
.listadogen a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.hcan, .hart, .halb, .hgen {
    margin-left: 30px;
    font-weight: bold;
}

.light-mode {
    color: black;
    background-color: white;
}

.light-mode a {
color: black;
}

.light-mode header {
    background-color: #D0D0D0;
}

.light-mode footer {
    background-color: #D0D0D0;
    color: black;
}

.lightmode { 
    color: black;
}

@media (max-width: 400px) {
    .menudenav {
        display: flex;
        flex-direction: column;
    }

}
